openai
chromadb
langchain_openai
langchain_community
langchain_chroma
gpt4all
docx2txt
PyMuPDF
pandasai==2.2.14
leafmap
localtileserver
opencv-python
libclang>=13.0.0
protobuf<4,>=3.20.0
gast<=0.4.0,>=0.2.1
typing-extensions<4.9.0,>=3.7.4
typing_extensions<4.9.0,>=3.7.4
numpy<1.26.0,>=1.18.5
